Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @atymchuk

.github/CODEOWNERS:

*                           @BupycHuk
/admin/                     @michal-kralik
/agent/agents/postgres/     @JiriCtvrtka
/agent/actions/             @artemgavrilov
/agent/jobs/                @artemgavrilov
/api/                       @BupycHuk
/docs/api/                  @atymchuk
/managed/                   @BupycHuk @artemgavrilov
/api-tests/                 @BupycHuk @artemgavrilov

Fix
  .github/workflows/common.yml
  .github/workflows/managed.yml
Owners: @BupycHuk

only path or path-ignore could be there. fix pattern
  .github/workflows/api.yml
Owners: @BupycHuk

PMM-5005: Add description for new field
  api/agentlocalpb/agentlocal.pb.go
  api/agentlocalpb/agentlocal.proto
  api/agentlocalpb/json/agentlocalpb.json
  api/agentlocalpb/json/client/agent_local/status2_responses.go
  api/agentlocalpb/json/client/agent_local/status_responses.go
Owners: @BupycHuk

PMM-5005: Add description for new field
  api/agentlocalpb/agentlocal.pb.go
  api/agentlocalpb/agentlocal.proto
  api/agentlocalpb/json/agentlocalpb.json
  api/agentlocalpb/json/client/agent_local/status2_responses.go
  api/agentlocalpb/json/client/agent_local/status_responses.go
Owners: @BupycHuk

PMM-5005: Calculate the connected up time between server and agent
  agent/agentlocal/agent_local.go
  agent/agentlocal/deps.go
  agent/client/client.go
  agent/config/config.go
  go.mod
  go.sum
Owners: @BupycHuk

PMM-5005: Fix tests
  admin/commands/status_test.go
  agent/agentlocal/agent_local_test.go
Owners: @michal-kralik, @BupycHuk

PMM-5005: Show up connected time in status response
  admin/agentlocal/agentlocal.go
  admin/commands/status.go
  agent/agentlocal/agent_local.go
  agent/agentlocal/mock_client_test.go
  agent/client/client.go
  api/agentlocalpb/agentlocal.pb.go
  api/agentlocalpb/agentlocal.proto
  api/agentlocalpb/json/agentlocalpb.json
  api/agentlocalpb/json/client/agent_local/status2_responses.go
  api/agentlocalpb/json/client/agent_local/status_responses.go
Owners: @michal-kralik, @BupycHuk

PMM-5005: Return payload even when there is no connection between agent and server
  admin/agentlocal/agentlocal.go
Owners: @michal-kralik

PMM-5005: Fix test
  agent/config/config_test.go
Owners: @BupycHuk

fix doc pipeline
  .github/workflows/doc.yml
Owners: @BupycHuk

PMM-7462 Use separate function for conditions
  managed/services/server/server.go
Owners: @BupycHuk, @artemgavrilov

Fix
  .github/workflows/common.yml
  .github/workflows/managed.yml
Owners: @BupycHuk

Fix
  .github/workflows/admin.yml
  .github/workflows/agent.yml
  .github/workflows/managed.yml
Owners: @BupycHuk

Minor changes.
  .github/workflows/common.yml
  .github/workflows/go-tip-checks.yml
Owners: @BupycHuk

Remove tail with scrape value from job
  managed/services/victoriametrics/scrape_configs.go
  managed/services/victoriametrics/scrape_configs_test.go
  managed/services/victoriametrics/victoriametrics_test.go
Owners: @BupycHuk, @artemgavrilov

Fix typo
  managed/services/victoriametrics/scrape_configs.go
Owners: @BupycHuk, @artemgavrilov

restructure documentation and add common tech (#973)
  .github/workflows/admin.yml
  .github/workflows/agent.yml
  .github/workflows/api.yml
  .github/workflows/common.yml
  .github/workflows/doc.yml
  .github/workflows/managed.yml
  CONTRIBUTING.md
  docs/api/adhoc-backup.md
  docs/api/authentication.md
  docs/api/bulk-add-users.md
  docs/api/change-admin-password.md
  docs/api/createpsmdbcluster.md
  docs/api/createpxccluster.md
  docs/api/dbaas.md
  docs/api/introduction.md
  docs/api/listlocations.md
  docs/api/listnodes.md
  docs/api/listservices.md
  docs/api/logs.md
  docs/api/monitoring.md
  docs/api/pmm-server-configuration.md
  docs/api/pmm-server-upgrade.md
  docs/assets/common_tech_swagger.png
  docs/process/GIT_AND_GITHUB.md
  docs/process/common_tech_lib_approaches.md
Owners: @BupycHuk, @atymchuk

PMM-7462 Make function more explicit
  managed/services/server/server.go
Owners: @BupycHuk, @artemgavrilov

PMM-10082 Remove ssh-keygen dependency
  managed/services/server/server.go
Owners: @BupycHuk, @artemgavrilov

PMM-9965 Apply changes in monorepo (#971)
  go.mod
  go.sum
  managed/services/dbaas/dbaas_client.go
  managed/services/management/dbaas/deps.go
  managed/services/management/dbaas/kubernetes_server.go
  managed/services/management/dbaas/kubernetes_server_test.go
  managed/services/management/dbaas/mock_dbaas_client_test.go
Owners: @BupycHuk, @artemgavrilov

PMM-10082 Skip test check updates
  api-tests/server/updates_test.go
Owners: @BupycHuk, @artemgavrilov

PMM-9913 Added temp cleanup on agent start/stop (#923)
  agent/agents/supervisor/supervisor.go
  agent/commands/run.go
Owners: @BupycHuk

Fix DBAAS dependency version
  go.mod
  go.sum
Owners: @BupycHuk

Fix DBAAS dependency version
  go.mod
  go.sum
Owners: @BupycHuk

PMM-10078 Use warns instead of errors for removed test env variables
  managed/utils/envvars/parser.go
Owners: @BupycHuk, @artemgavrilov

Fix DBAAS dependency version (#982)
  go.mod
  go.sum
Owners: @BupycHuk

cleanup (#961)
  managed/services/telemetry/config.default.yml
Owners: @BupycHuk, @artemgavrilov

Initial commit.
  .github/workflows/go-tip-checks.yml
Owners: @BupycHuk

PMM-9682 Large scale support - Part 1
  .devcontainer/setup.py
  Makefile
  managed/models/action_model.go
  managed/models/action_model_reform.go
  managed/models/database.go
  managed/models/db_cluster_helpers.go
  managed/models/db_cluster_model.go
  managed/models/db_cluster_model_reform.go
  managed/models/job_model.go
  managed/models/job_model_reform.go
  managed/models/kubernetes_helpers.go
  managed/models/kubernetes_helpers_test.go
  managed/models/kubernetes_model.go
  managed/models/kubernetes_model_reform.go
  managed/services/management/dbaas/components_service.go
  managed/services/management/dbaas/components_service_test.go
  managed/services/management/dbaas/db_cluster_service.go
  managed/services/management/dbaas/deps.go
  managed/services/management/dbaas/kubernetes_server.go
  managed/services/management/dbaas/mock_components_service_test.go
  managed/services/management/dbaas/psmdb_cluster_service.go
  managed/services/management/dbaas/pxc_cluster_service.go
  managed/services/management/dbaas/version_service_client.go
Owners: @BupycHuk, @artemgavrilov

PMM-9813 Fix code coverage upload
  .github/workflows/managed.yml
Owners: @BupycHuk

PLAT-10230 Ansible token examples container incorrect URI
  docs/api/bulk-add-users.md
Owners: @atymchuk

PMM-10082 Remove ssh-keygen dependency (#981)
  api-tests/server/updates_test.go
  managed/services/server/server.go
Owners: @BupycHuk, @artemgavrilov

PMM-9813 Looking for the correct path
  .github/workflows/managed.yml
Owners: @BupycHuk

Added ticket info about license check.
  .github/workflows/common.yml
  .github/workflows/go-tip-checks.yml
Owners: @BupycHuk

Minor changes.
  .github/workflows/common.yml
Owners: @BupycHuk

PMM-10139 Rename Cmd to Command
  admin/commands/inventory/add_agent_external_exporter.go
  admin/commands/inventory/add_agent_mongodb_exporter.go
  admin/commands/inventory/add_agent_mysqld_exporter.go
  admin/commands/inventory/add_agent_node_exporter.go
  admin/commands/inventory/add_agent_pmm_agent.go
  admin/commands/inventory/add_agent_postgres_exporter.go
  admin/commands/inventory/add_agent_proxysql_exporter.go
  admin/commands/inventory/add_agent_qan_mongodb_profiler_agent.go
  admin/commands/inventory/add_agent_qan_mysql_perfschema_agent.go
  admin/commands/inventory/add_agent_qan_mysql_slowlog_agent.go
  admin/commands/inventory/add_agent_qan_postgres_pgstatements_agent.go
  admin/commands/inventory/add_agent_qan_postgres_pgstatmonitor_agent.go
  admin/commands/inventory/add_node_container.go
  admin/commands/inventory/add_node_generic.go
  admin/commands/inventory/add_node_remote.go
  admin/commands/inventory/add_node_remote_rds.go
  admin/commands/inventory/add_service_external.go
  admin/commands/inventory/add_service_haproxy.go
  admin/commands/inventory/add_service_mongodb.go
  admin/commands/inventory/add_service_mysql.go
  admin/commands/inventory/add_service_postgresql.go
  admin/commands/inventory/add_service_proxysql.go
  admin/commands/inventory/cli.go
  admin/commands/inventory/list_agents.go
  admin/commands/inventory/list_nodes.go
  admin/commands/inventory/list_services.go
  admin/commands/inventory/remove_agent.go
  admin/commands/inventory/remove_node.go
  admin/commands/inventory/remove_service.go
  admin/commands/management/add_external.go
  admin/commands/management/add_external_serverless.go
  admin/commands/management/add_haproxy.go
  admin/commands/management/add_mongodb.go
  admin/commands/management/add_mysql.go
  admin/commands/management/add_mysql_test.go
  admin/commands/management/add_postgresql.go
  admin/commands/management/add_proxysql.go
  admin/commands/management/add_test.go
  admin/commands/management/cli.go
Owners: @michal-kralik

PMM-9813 The path
  .github/workflows/managed.yml
Owners: @BupycHuk

PMM-7462 Compares env var to settings (#965)
  managed/services/server/server.go
Owners: @BupycHuk, @artemgavrilov

PMM-9813 Fix agent paths
  .github/workflows/agent.yml
Owners: @BupycHuk

PMM-9914 Add text files re-render for all agent types
  agent/agents/process/process.go
Owners: @BupycHuk
