Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @atymchuk, @idoqo

PMM-10195: Fix lint issues
  managed/services/telemetry/telemetry_test.go
Owners: @BupycHuk, @artemgavrilov

PMM-5492 Code review adjustments.
  admin/commands/summary.go
  managed/main.go
  managed/services/supervisord/logs.go
  managed/services/supervisord/pprof_config.go
  managed/utils/pprof/pprof.go
  managed/utils/pprof/pprof_test.go
Owners: @michal-kralik, @BupycHuk, @artemgavrilov

PMM-5492 Code review adjustments.
  managed/services/supervisord/logs.go
  managed/utils/pprof/pprof.go
  managed/utils/pprof/pprof_test.go
Owners: @BupycHuk, @artemgavrilov

PMM-5680 download from pmm-agent so rename
  admin/commands/summary.go
Owners: @michal-kralik

Added exit code check for linters, changed golangci-lint installation type.
  .github/workflows/common.yml
  Makefile.include
  tools/go.mod
  tools/go.sum
  tools/tools.go
Owners: @BupycHuk, @artemgavrilov

Fixed logic in CI.
  .github/workflows/common.yml
Owners: @BupycHuk

.github/CODEOWNERS:

*                           @BupycHuk
/admin/                     @michal-kralik
/agent/agents/postgres/     @JiriCtvrtka
/agent/actions/             @artemgavrilov
/agent/jobs/                @artemgavrilov
/api/                       @BupycHuk
/docs/api/                  @atymchuk
/managed/services/checks/   @idoqo
/managed/                   @BupycHuk @artemgavrilov
/api-tests/                 @BupycHuk @artemgavrilov
go.mod                      @BupycHuk @artemgavrilov
