Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @atymchuk

fix issue in get config
  docs/api/dbaas.md
Owners: @atymchuk

PMM-5005: Rename method in connection_set.go
  agent/client/client.go
  agent/commands/run.go
  agent/connectionset/connection_set.go
Owners: @BupycHuk

PMM-9320: fix username/password incorrect escape (#949)
  agent/actions/mongodb_explain_action.go
  agent/actions/mongodb_query_admincommand_action.go
  agent/agents/mongodb/internal/profiler/collector/collector_test.go
  agent/agents/mongodb/internal/profiler/profiler.go
  agent/connectionchecker/connection_checker.go
  agent/utils/mongo_fix/mongo_fix.go
  agent/utils/mongo_fix/mongo_fix_test.go
  agent/utils/tests/mongodb.go
Owners: @artemgavrilov, @BupycHuk

PMM-9320: fix username/password incorrect escape (#949)
  agent/actions/mongodb_explain_action.go
  agent/actions/mongodb_query_admincommand_action.go
  agent/agents/mongodb/internal/profiler/collector/collector_test.go
  agent/agents/mongodb/internal/profiler/profiler.go
  agent/connectionchecker/connection_checker.go
  agent/utils/mongo_fix/mongo_fix.go
  agent/utils/mongo_fix/mongo_fix_test.go
  agent/utils/tests/mongodb.go
Owners: @artemgavrilov, @BupycHuk

Fix 'build' badge in readme.
  .github/workflows/common.yml
Owners: @BupycHuk

PMM-10147 Fix tests
  agent/runner/runner_test.go
Owners: @BupycHuk

.github/CODEOWNERS:

*                           @BupycHuk
/admin/                     @michal-kralik
/agent/agents/postgres/     @JiriCtvrtka
/agent/actions/             @artemgavrilov
/agent/jobs/                @artemgavrilov
/api/                       @BupycHuk
/docs/api/                  @atymchuk
/managed/                   @BupycHuk @artemgavrilov
/api-tests/                 @BupycHuk @artemgavrilov
