Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @atymchuk

Update CONTRIBUTING.md (#994)
  CONTRIBUTING.md
Owners: @BupycHuk

PMM-7 Create submodules PR automatically
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Fix variable name
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Test outputs
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

fix variable name
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Add condition
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Checkout submodules
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Something broken
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Fix repository
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Create PR
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Something broke
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Debugging script
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Switch to percona-platform scripts
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Fixed repo urls for the contributing.md
  CONTRIBUTING.md
Owners: @BupycHuk

PMM-5005: Remove double check of default window period value
  agent/commands/run.go
Owners: @BupycHuk

Revert naming for pmm-managed
  CONTRIBUTING.md
Owners: @BupycHuk

PMM-5005: Fix tests
  agent/client/client_test.go
Owners: @BupycHuk

PMM-9510: Remove tail with scrape resolution from job label (#980)
  managed/services/victoriametrics/scrape_configs.go
  managed/services/victoriametrics/scrape_configs_test.go
  managed/services/victoriametrics/victoriametrics_test.go
Owners: @BupycHuk, @artemgavrilov

Fix git push
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Fix missing branch
  .github/workflows/create-submodules-pr.yml
Owners: @BupycHuk

Add comments, race and remove build in setup.py
  .devcontainer/setup.py
  Makefile.devcontainer
  agent/Makefile
Owners: @BupycHuk

PMM-5005: Remove comment
  agent/connectionset/connection_set_test.go
Owners: @BupycHuk

PMM-7 improve contribution guide
  CONTRIBUTING.md
Owners: @BupycHuk

PMM-5005: Fix formatting
  agent/client/client.go
  agent/client/client_test.go
  agent/commands/run.go
Owners: @BupycHuk

PMM-7 improve contribution guide (#997)
  CONTRIBUTING.md
Owners: @BupycHuk

PMM-10170 unlock all severities (#959)
  api-tests/README.md
  managed/services/management/checks.go
  managed/services/management/checks_test.go
  managed/services/types.go
Owners: @BupycHuk, @artemgavrilov

PMM-5005: Move goroutine to delete old events to connection_set.go
  agent/client/client.go
  agent/connectionset/connection_set.go
  agent/connectionset/connection_set_test.go
Owners: @BupycHuk

PMM-5005: Fix formatting
  agent/connectionset/connection_set.go
Owners: @BupycHuk

PMM-10142 MySQL explain fix. (#991)
  api/qanpb/json/client/object_details/object_details_client.go
  api/qanpb/json/client/object_details/query_exists_parameters.go
  api/qanpb/json/client/object_details/query_exists_responses.go
  api/qanpb/json/qanpb.json
  api/qanpb/object_details.pb.go
  api/qanpb/object_details.pb.gw.go
  api/qanpb/object_details.proto
  api/qanpb/object_details.validator.pb.go
  api/qanpb/object_details_grpc.pb.go
  api/swagger/swagger-dev-only.json
  api/swagger/swagger-dev.json
  managed/main.go
  managed/services/agents/actions.go
  managed/services/agents/deps.go
  managed/services/management/grpc/actions_server.go
  managed/services/qan/client.go
Owners: @BupycHuk, @artemgavrilov

PMM-10142 MySQL explain fix. (#158)
  go.mod
  go.sum
  main.go
  models/metrics.go
  services/analytics/object_details.go
Owners: @BupycHuk

PMM-8082 add srv initialization (#215)
  ansible/playbook/tasks/roles/nginx/files/generate-ssl-certificate
  ansible/playbook/tasks/roles/nginx/files/ssl/ca-certs.pem
  ansible/playbook/tasks/roles/nginx/files/ssl/certificate.conf
  ansible/playbook/tasks/roles/nginx/files/ssl/dhparam.pem
  ansible/playbook/tasks/roles/nginx/files/ssl/generate-ssl-certificate
  ansible/playbook/tasks/roles/nginx/files/ssl/upgrade-certificate
  ansible/playbook/tasks/roles/nginx/tasks/main.yml
Owners: @BupycHuk

PMM-10095 Automatic service lookup during removal
  .gitignore
  admin/commands/management/remove.go
  api/buf.lock
  api/managementpb/json/client/service/remove_service_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/service.pb.go
  api/managementpb/service.proto
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  go.mod
  go.sum
  managed/services/management/service.go
Owners: @BupycHuk, @michal-kralik, @artemgavrilov

PMM-10095 Revert API changes
  admin/commands/management/remove.go
  api/managementpb/json/client/service/remove_service_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/service.pb.go
  api/managementpb/service.proto
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  managed/services/management/service.go
Owners: @michal-kralik, @BupycHuk, @artemgavrilov

PMM-10095 Automatic service lookup during removal
  admin/commands/management/remove.go
Owners: @michal-kralik

PMM-10095 small improvements on readability
  admin/commands/management/remove.go
Owners: @michal-kralik

PMM-10095 Restore buf.lock
  api/buf.lock
Owners: @BupycHuk

PMM-10095 restore go.mod
  go.mod
Owners: @BupycHuk

PMM-10095 Restore go.sum
  api/buf.lock
  go.sum
Owners: @BupycHuk

PMM-10147 Add missing done flag to actions result
  agent/runner/runner.go
Owners: @BupycHuk

PMM-6384 Fixed docker-compose for M1 CPUs
  agent/docker-compose.yml
Owners: @BupycHuk

.github/CODEOWNERS:

*                           @BupycHuk
/admin/                     @michal-kralik
/agent/agents/postgres/     @JiriCtvrtka
/agent/actions/             @artemgavrilov
/agent/jobs/                @artemgavrilov
/api/                       @BupycHuk
/docs/api/                  @atymchuk
/managed/                   @BupycHuk @artemgavrilov
/api-tests/                 @BupycHuk @artemgavrilov
