Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @percona/pmm-review-be, @atymchuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @idoqo, @gen1us2k, @percona-csalguero

initial poc commit
  go.mod
  go.sum
  managed/data/crds.yaml
  managed/data/crds/crds.yaml
  managed/data/gen.go
  managed/data/olm.yaml
  managed/services/dbaas/kubernetes/client/client.go
  managed/services/dbaas/olm/olm.go
  managed/services/dbaas/olm/olm_operator.go
  managed/services/dbaas/olm/olm_operator_test.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be, @gen1us2k, @percona-csalguero

Revert "PMM-11090 move DBaaS k8s logs feature to PMM (#1448)"
  managed/cmd/pmm-managed/main.go
  managed/services/dbaas/kubernetes/client/client.go
  managed/services/dbaas/kubernetes/client/client_test.go
  managed/services/dbaas/kubernetes/client/writer.go
  managed/services/dbaas/kubernetes/kubernetes.go
  managed/services/management/dbaas/logs_service.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be, @gen1us2k, @percona-csalguero

PMM-10325 agents proto redone according to new model with login and pass
  api/inventorypb/agents.pb.go
  api/inventorypb/agents.proto
  api/inventorypb/json/client/agents/add_pmm_agent_responses.go
  api/inventorypb/json/client/agents/get_agent_responses.go
  api/inventorypb/json/client/agents/list_agents_responses.go
  api/inventorypb/json/inventorypb.json
  api/managementpb/json/client/node/register_node_responses.go
  api/managementpb/json/managementpb.json
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
Owners: @BupycHuk, @percona/pmm-review-be

PMM-10325 node registering service updated
  managed/cmd/pmm-managed/main.go
  managed/services/management/node.go
  managed/services/management/node_test.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

PMM-10325 client server register command renewed
  agent/commands/clients.go
  agent/commands/setup.go
Owners: @BupycHuk, @percona/pmm-review-be

Revert "PMM-11090 move DBaaS k8s logs feature to PMM (#1448)" (#1464)
  managed/cmd/pmm-managed/main.go
  managed/services/dbaas/kubernetes/client/client.go
  managed/services/dbaas/kubernetes/client/client_test.go
  managed/services/dbaas/kubernetes/client/writer.go
  managed/services/dbaas/kubernetes/kubernetes.go
  managed/services/management/dbaas/logs_service.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be, @gen1us2k, @percona-csalguero

PMM-6352 fix version in grafana.spec
  build/ansible/roles/cloud-node/tasks/main.yml
  build/packages/rpm/server/SPECS/grafana.spec
Owners: @atymchuk

Build target for make
  vmproxy/Makefile
Owners: @BupycHuk, @percona/pmm-review-be

PMM-11110: Upgrade PMM Server from cli (#1416)
  admin/commands/pmm/server/docker/base.go
  admin/commands/pmm/server/docker/base_test.go
  admin/commands/pmm/server/docker/common.go
  admin/commands/pmm/server/docker/deps.go
  admin/commands/pmm/server/docker/install.go
  admin/commands/pmm/server/docker/install_test.go
  admin/commands/pmm/server/docker/mock_functions_test.go
  admin/commands/pmm/server/docker/upgrade.go
  admin/commands/pmm/server/docker/upgrade_test.go
  admin/pkg/docker/docker.go
Owners: @michal-kralik, @percona/pmm-review-be

PMM-11162: tag backup volumes with version and date
  admin/commands/pmm/server/docker/deps.go
  admin/commands/pmm/server/docker/install.go
  admin/commands/pmm/server/docker/mock_functions_test.go
  admin/commands/pmm/server/docker/upgrade.go
  admin/commands/pmm/server/docker/upgrade_test.go
  admin/pkg/docker/docker.go
Owners: @michal-kralik, @percona/pmm-review-be

Fix tests
  admin/commands/pmm/server/docker/install_test.go
Owners: @michal-kralik, @percona/pmm-review-be

PMM-7: update docs for access control
  docs/assets/access-control-message-flow.png
  docs/managed/access-control.md
Owners: @BupycHuk, @percona/pmm-review-be

Revert "Bump github.com/lib/pq from 1.10.6 to 1.10.7 (#1360)"
  go.mod
  go.sum
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Fix invalid parameter name
  vmproxy/pkg/proxy/proxy.go
  vmproxy/pkg/proxy/proxy_test.go
Owners: @BupycHuk, @percona/pmm-review-be

PMM-10891 Changes.
  agent/agents/postgres/pgstatmonitor/stat_monitor_cache.go
  agent/agents/postgres/pgstatstatements/models.go
  agent/agents/postgres/pgstatstatements/pgstatstatements.go
Owners: @JiriCtvrtka, @percona/pmm-review-be

PMM-10891 Add ANALYZE to explain.
  agent/runner/actions/postgresql_explain_action.go
Owners: @artemgavrilov, @percona/pmm-review-be

Fix workflow
  .github/workflows/vmproxy.yml
Owners: @BupycHuk, @percona/pmm-review-be

To swith branches
  managed/data/crds/crds.yaml
  managed/data/crds/olm.yaml
  managed/services/dbaas/olm/olm_operator.go
  managed/services/dbaas/olm/olm_operator_test.go
  managed/services/management/alerting/service.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be, @gen1us2k, @percona-csalguero

PMM-10891 Changes, tests.
  agent/agents/postgres/pgstatstatements/pgstatstatements_test.go
  agent/queryparser/parser.go
  agent/queryparser/parser_test.go
  agent/runner/actions/postgresql_explain_action.go
Owners: @JiriCtvrtka, @percona/pmm-review-be, @BupycHuk, @artemgavrilov

PMM-10940 Fixed values
  managed/services/dbaas/kubernetes/types.go
Owners: @gen1us2k, @percona-csalguero, @percona/pmm-review-be

PMM-7 Exclude some recent mongo DB versions form matrix
  .github/workflows/agent.yml
Owners: @BupycHuk, @percona/pmm-review-be

PMM-7 Rollback PG versions update
  .github/workflows/agent.yml
Owners: @BupycHuk, @percona/pmm-review-be

Fixed upgrade
  managed/services/management/dbaas/components_service.go
  managed/services/management/dbaas/kubernetes_server.go
Owners: @gen1us2k, @percona-csalguero, @percona/pmm-review-be

PMM-7 Add region
  managed/services/management/rds_test.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

PMM-10891 Test of explain.
  agent/runner/actions/mysql_explain_action.go
  api/agentpb/agent.pb.go
  api/agentpb/agent.proto
  managed/services/agents/actions.go
  qan-api2/migrations/bindata.go
Owners: @artemgavrilov, @percona/pmm-review-be, @BupycHuk

PMM-10325 fix node registering test
  managed/services/management/node_test.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Install OLM operator working
  go.mod
  go.sum
  managed/services/dbaas/kubernetes/client/client.go
  managed/services/dbaas/olm/olm_operator.go
  managed/services/management/alerting/service.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be, @gen1us2k, @percona-csalguero

Revert "Bump github.com/lib/pq from 1.10.6 to 1.10.7 (#1360)" (#1468)
  go.mod
  go.sum
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Review feedback
  vmproxy/main.go
  vmproxy/pkg/proxy/proxy.go
Owners: @BupycHuk, @percona/pmm-review-be

Move proxy to root
  vmproxy/main.go
  vmproxy/proxy/proxy.go
  vmproxy/proxy/proxy_test.go
Owners: @BupycHuk, @percona/pmm-review-be

PMM-11038 Fixed tests
  managed/services/dbaas/kubernetes/types.go
  managed/services/management/dbaas/mock_kubernetes_client_test.go
  managed/services/management/dbaas/psmdb_cluster_service_test.go
  managed/services/management/dbaas/pxc_cluster_service_test.go
Owners: @gen1us2k, @percona-csalguero, @percona/pmm-review-be

PMM-10325 proto regen with register node responce model ref
  api/inventorypb/agents.pb.go
  api/inventorypb/agents.proto
  api/inventorypb/json/client/agents/add_pmm_agent_responses.go
  api/inventorypb/json/client/agents/get_agent_responses.go
  api/inventorypb/json/client/agents/list_agents_responses.go
  api/inventorypb/json/inventorypb.json
  api/managementpb/json/client/node/register_node_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/node.pb.go
  api/managementpb/node.proto
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
Owners: @BupycHuk, @percona/pmm-review-be

PMM-10325 ref node registering service
  managed/services/management/node.go
  managed/services/management/node_test.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

PMM-10325 ref client setup
  agent/commands/clients.go
  agent/commands/setup.go
Owners: @BupycHuk, @percona/pmm-review-be

Remove release from workflows
  .github/workflows/admin.yml
  .github/workflows/agent.yml
  .github/workflows/api.yml
  .github/workflows/common.yml
  .github/workflows/managed.yml
  .github/workflows/qan-api2.yml
Owners: @BupycHuk, @percona/pmm-review-be

Exit with status code 1 in case of an error
  vmproxy/main.go
Owners: @BupycHuk, @percona/pmm-review-be

Update managed/services/management/node.go
  managed/services/management/node.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

PMM-10325 error message on empty token
  agent/commands/clients.go
Owners: @BupycHuk, @percona/pmm-review-be

Replace pq with pgx
  go.mod
  go.sum
  managed/cmd/pmm-managed/main.go
  managed/models/agent_model.go
  managed/models/agent_model_reform.go
  managed/models/database.go
  managed/models/database_test.go
  managed/models/models.go
  utils/bcrypt/base64.go
  utils/bcrypt/bcrypt.go
  utils/bcrypt/bcrypt_test.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

PMM-10325 mockery for node service
  managed/services/management/mock_api_key_provider_test.go
  managed/services/management/node.go
  managed/services/management/node_test.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

.github/CODEOWNERS:

*                                       @BupycHuk @percona/pmm-review-be
/build/                                 @atymchuk
/admin/                                 @michal-kralik @percona/pmm-review-be
/agent/agents/postgres/                 @JiriCtvrtka @percona/pmm-review-be
/agent/runner/                          @artemgavrilov @percona/pmm-review-be
/api/                                   @BupycHuk @percona/pmm-review-be
/docs/api/                              @atymchuk
/managed/services/checks/               @idoqo @percona/pmm-review-be
/managed/                               @BupycHuk @artemgavrilov @percona/pmm-review-be
/managed/services/dbaas                 @gen1us2k @percona-csalguero @percona/pmm-review-be
/managed/services/management/dbaas      @gen1us2k @percona-csalguero @percona/pmm-review-be
/api-tests/                             @BupycHuk @artemgavrilov @percona/pmm-review-be
go.mod                                  @BupycHuk @artemgavrilov @percona/pmm-review-be
