Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @percona/pmm-review-be, @JiriCtvrtka, @artemgavrilov, @BupycHuk, @idoqo, @gen1us2k, @recharte, @talhabinrizwan, @percona/pmm-review-dependency, @yurkovychv

.github/CODEOWNERS:

*                                       @percona/pmm-review-be
/agent/agents/postgres/                 @JiriCtvrtka @percona/pmm-review-be
/agent/runner/                          @artemgavrilov @percona/pmm-review-be
/api/                                   @BupycHuk @percona/pmm-review-be
/managed/services/checks/               @idoqo @percona/pmm-review-be
/managed/services/dbaas                 @gen1us2k @recharte @percona/pmm-review-be
/managed/services/management/dbaas      @gen1us2k @recharte @percona/pmm-review-be
/update/                                @BupycHuk @talhabinrizwan @percona/pmm-review-be
**/go.mod                               @percona/pmm-review-dependency @percona/pmm-review-be
**/Dockerfile                           @percona/pmm-review-dependency @percona/pmm-review-be
/cli-tests/package.json                 @percona/pmm-review-dependency @yurkovychv
/.github/                               @percona/pmm-review-dependency @percona/pmm-review-be

Use strechr/testify for assertions
  agent/tailog/store_test.go
Owners: @percona/pmm-review-be

PMM-12251 Lint, small changes.
  agent/client/basic_auth.go
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-12078 fix license headers.
  managed/models/params.go
  managed/services/ha/leaderservice.go
  managed/services/ha/services.go
  managed/services/supervisord/pmm_config_test.go
Owners: @percona/pmm-review-be

PMM-11714 add extra info to logs.
  managed/services/management/node.go
Owners: @percona/pmm-review-be

PMM-12251 Add test, logic changes.
  managed/services/grafana/client.go
  managed/services/grafana/client_test.go
Owners: @percona/pmm-review-be

PMM-12576 Change admin ID on update.
  update/ansible/playbook/tasks/roles/initialization/tasks/main.yml
  update/ansible/playbook/tasks/update.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12463 allow ireturn on DataSources
  .golangci.yml
  managed/services/telemetry/datasource_grafana_sqlitedb.go
  managed/services/telemetry/datasource_pmmdb_select.go
  managed/services/telemetry/datasource_qandb_select.go
Owners: @percona/pmm-review-be

PMM-12463 fix some command hints
  managed/cmd/pmm-managed/main.go
  managed/services/config/config.go
Owners: @percona/pmm-review-be

PMM-12463 add ENV_VAR dataSource
  managed/services/config/pmm-managed.yaml
  managed/services/telemetry/config.go
  managed/services/telemetry/config_test.go
  managed/services/telemetry/datasource_envvars.go
  managed/services/telemetry/datasources.go
  managed/services/telemetry/telemetry.go
  managed/services/telemetry/telemetry_test.go
  managed/services/telemetry/transform.go
Owners: @percona/pmm-review-be

PMM-12463 add a provisionary envvar metrics extraction
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

PMM-12576 Fix ansible script.
  update/ansible/playbook/tasks/roles/initialization/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

made changes in managed/services/dbaas/kubernetes/client/client.go
  managed/services/dbaas/kubernetes/client/client.go
Owners: @gen1us2k, @recharte, @percona/pmm-review-be

made changes in anaged/services/management/dbaas/components_service.go
  managed/services/management/dbaas/components_service.go
Owners: @gen1us2k, @recharte, @percona/pmm-review-be

made changes in managed/services/management/dbaas/version_service_client.go
  managed/services/management/dbaas/version_service_client.go
Owners: @gen1us2k, @recharte, @percona/pmm-review-be

PMM-12463 add a test for EnvVar datasource
  managed/services/telemetry/config_test.go
  managed/services/telemetry/datasource_envvars_test.go
  managed/services/telemetry/datasource_grafana_sqlitedb_test.go
  managed/services/telemetry/telemetry.go
  managed/services/telemetry/telemetry_test.go
Owners: @percona/pmm-review-be

PMM-12463 revert staticckeck linter
  .golangci.yml
Owners: @percona/pmm-review-be

mae\ke format changes done
  managed/services/dbaas/kubernetes/client/client.go
  managed/services/management/dbaas/components_service.go
Owners: @gen1us2k, @recharte, @percona/pmm-review-be

PMM-12463 fix linter warnings
  managed/services/telemetry/config.go
  managed/services/telemetry/datasource_envvars.go
  managed/services/telemetry/datasources.go
  managed/services/telemetry/transform.go
Owners: @percona/pmm-review-be

PMM-12251 Test, tokens funcs.
  go.sum
  managed/services/grafana/client.go
  managed/services/grafana/client_test.go
Owners: @percona/pmm-review-be

PMM-12251 Not needed, set on transport.
  agent/client/client.go
Owners: @percona/pmm-review-be

PMM-12251 Mock gen.
  managed/services/management/mock_auth_provider_test.go
Owners: @percona/pmm-review-be

PMM-12251 Node changes.
  managed/services/management/node.go
Owners: @percona/pmm-review-be

update inventory api
  api/inventorypb/agents.pb.go
  api/inventorypb/agents.pb.validate.go
  api/inventorypb/agents.proto
  api/inventorypb/json/client/agents/add_mongo_db_exporter_responses.go
  api/inventorypb/json/client/agents/add_my_s_q_ld_exporter_responses.go
  api/inventorypb/json/client/agents/add_node_exporter_responses.go
  api/inventorypb/json/client/agents/add_postgres_exporter_responses.go
  api/inventorypb/json/client/agents/add_proxy_sql_exporter_responses.go
  api/inventorypb/json/client/agents/change_mongo_db_exporter_responses.go
  api/inventorypb/json/client/agents/change_my_s_q_ld_exporter_responses.go
  api/inventorypb/json/client/agents/change_node_exporter_responses.go
  api/inventorypb/json/client/agents/change_postgres_exporter_responses.go
  api/inventorypb/json/client/agents/change_proxy_sql_exporter_responses.go
  api/inventorypb/json/client/agents/get_agent_responses.go
  api/inventorypb/json/client/agents/list_agents_responses.go
  api/inventorypb/json/inventorypb.json
  api/managementpb/agent/agent.pb.go
  api/managementpb/agent/agent.pb.validate.go
  api/managementpb/agent/agent.proto
  api/managementpb/agent/json/agent.json
  api/managementpb/agent/json/client/agent/list_agents_responses.go
  api/managementpb/json/client/mongo_db/add_mongo_db_responses.go
  api/managementpb/json/client/my_sql/add_my_sql_responses.go
  api/managementpb/json/client/postgre_sql/add_postgre_sql_responses.go
  api/managementpb/json/client/proxy_sql/add_proxy_sql_responses.go
  api/managementpb/json/client/rds/add_rds_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/service/json/client/mgmt_service/list_services_responses.go
  api/managementpb/service/json/service.json
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  managed/models/agent_helpers.go
  managed/services/converters.go
Owners: @BupycHuk, @percona/pmm-review-be

fix tests
  managed/services/agents/mongodb_test.go
  managed/services/agents/mysql_test.go
  managed/services/agents/proxysql.go
Owners: @percona/pmm-review-be

PMM-12251 Add existedServiceToken to NodeRegister.
  agent/commands/clients.go
  agent/commands/setup.go
  api/managementpb/json/client/node/register_node_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/node.pb.go
  api/managementpb/node.pb.validate.go
  api/managementpb/node.proto
  api/managementpb/node_grpc.pb.go
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  managed/services/management/node.go
Owners: @percona/pmm-review-be, @BupycHuk

PMM-12251 Typo.
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-7 Issue template for admin and maintenance tasks (#2526)
  .github/ISSUE_TEMPLATE/admin-and-maintenance-task.md
Owners: @percona/pmm-review-dependency, @percona/pmm-review-be

PMM-12463 revert changes to main.go
  managed/cmd/pmm-managed/main.go
Owners: @percona/pmm-review-be

PMM-12562 Show error 503 instead of 500.
  update/ansible/playbook/tasks/roles/nginx/files/conf.d/pmm.conf
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

try to fix linter
  managed/services/agents/mysql.go
Owners: @percona/pmm-review-be

PMM-12251 Small logic changes. Validation.
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-12251 Add API tests.
  api-tests/server/auth_test.go
Owners: @percona/pmm-review-be

PMM-12251 Align mock with changes.
  managed/services/management/node_test.go
Owners: @percona/pmm-review-be

Revert "Merge remote-tracking branch 'origin/PMM-12251-service-accounts' into PMM-12251-service-accounts"
  cli-tests/package-lock.json
  cli-tests/package.json
  go.sum
Owners: @percona/pmm-review-be, @percona/pmm-review-dependency, @yurkovychv

PMM-12251 Tidy.
  go.sum
Owners: @percona/pmm-review-be

PMM-12251 Small refactor.
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-12251 Fix.
  managed/services/grafana/client.go
  managed/services/management/mock_auth_provider_test.go
Owners: @percona/pmm-review-be

PMM-12463 refactor the output format
  managed/services/telemetry/config.default.yml
  managed/services/telemetry/datasource_envvars.go
  managed/services/telemetry/datasource_envvars_test.go
  managed/services/telemetry/datasources.go
  managed/services/telemetry/telemetry.go
Owners: @percona/pmm-review-be

PMM-12251 Unregister.
  admin/commands/management/unregister.go
  api/managementpb/json/client/node/node_client.go
  api/managementpb/json/client/node/unregister_node_parameters.go
  api/managementpb/json/client/node/unregister_node_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/node.pb.go
  api/managementpb/node.pb.gw.go
  api/managementpb/node.pb.validate.go
  api/managementpb/node.proto
  api/managementpb/node_grpc.pb.go
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  go.mod
  go.sum
  managed/services/grafana/client.go
  managed/services/management/grpc/node_server.go
  managed/services/management/mock_auth_provider_test.go
  managed/services/management/node.go
  managed/services/management/node_test.go
Owners: @percona/pmm-review-be, @BupycHuk, @percona/pmm-review-dependency

PMM-12251 Tidy.
  go.mod
  go.sum
Owners: @percona/pmm-review-dependency, @percona/pmm-review-be
