Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @percona/pmm-review-be, @atymchuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @idoqo, @gen1us2k, @percona-csalguero

.github/CODEOWNERS:

*                                       @BupycHuk @percona/pmm-review-be
/build/                                 @atymchuk
/admin/                                 @michal-kralik @percona/pmm-review-be
/agent/agents/postgres/                 @JiriCtvrtka @percona/pmm-review-be
/agent/runner/                          @artemgavrilov @percona/pmm-review-be
/api/                                   @BupycHuk @percona/pmm-review-be
/docs/api/                              @atymchuk
/managed/services/checks/               @idoqo @percona/pmm-review-be
/managed/                               @BupycHuk @artemgavrilov @percona/pmm-review-be
/managed/services/dbaas                 @gen1us2k @percona-csalguero @percona/pmm-review-be
/managed/services/management/dbaas      @gen1us2k @percona-csalguero @percona/pmm-review-be
/api-tests/                             @BupycHuk @artemgavrilov @percona/pmm-review-be
go.mod                                  @BupycHuk @artemgavrilov @percona/pmm-review-be

PMM-11038 Implemented a better solution for restarting clusters
  managed/services/dbaas/kubernetes/kubernetes.go
Owners: @gen1us2k, @percona-csalguero, @percona/pmm-review-be

Disable CI workflows
  .github/workflows/admin.yml
  .github/workflows/agent.yml
  .github/workflows/api.yml
  .github/workflows/qan-api2.yml
Owners: @BupycHuk, @percona/pmm-review-be

Set proper db driver
  managed/cmd/pmm-managed/main.go
  managed/models/database.go
  managed/services/telemetry/datasource_pmmdb_select.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Add missing import
  managed/models/database.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Fix
  managed/models/database.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Change to another branch
  go.mod
  go.sum
  managed/services/dbaas/kubernetes/client/client.go
  managed/services/dbaas/olm/olm.go
  managed/services/dbaas/olm/olm_operator.go
  managed/services/management/dbaas/kubernetes_server.go
Owners: @BupycHuk, @artemgavrilov, @percona/pmm-review-be, @gen1us2k, @percona-csalguero

PMM-11136: vmproxy initial version (#1438)
  .github/workflows/admin.yml
  .github/workflows/agent.yml
  .github/workflows/common.yml
  .github/workflows/managed.yml
  .github/workflows/qan-api2.yml
  .github/workflows/vmproxy.yml
  codecov.yml
  vmproxy/LICENSE
  vmproxy/Makefile
  vmproxy/README.md
  vmproxy/main.go
  vmproxy/proxy/proxy.go
  vmproxy/proxy/proxy_test.go
Owners: @BupycHuk, @percona/pmm-review-be

PMM-11189: Build and enable vmproxy
  build/packages/rpm/server/SPECS/vmproxy.spec
  build/scripts/build-server-rpm-all
  managed/services/supervisord/supervisord.go
  managed/testdata/supervisord.d/vmproxy.ini
Owners: @atymchuk, @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Fix build bugs
  build/packages/rpm/server/SPECS/vmproxy.spec
  vmproxy/Makefile
Owners: @atymchuk, @BupycHuk, @percona/pmm-review-be
