Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @percona/pmm-review-be, @JiriCtvrtka, @artemgavrilov, @BupycHuk, @idoqo, @gen1us2k, @recharte, @talhabinrizwan, @percona/pmm-review-dependency, @yurkovychv

PMM-12185 remove unused lint suppressions
  managed/services/telemetry/datasource_grafanadb_select.go
  managed/services/telemetry/datasource_victoria_metrics.go
Owners: @percona/pmm-review-be

PMM-12185 fix inconsistent log output
  managed/services/telemetry/telemetry.go
Owners: @percona/pmm-review-be

PMM-12185 trim trailing spaces
  managed/services/config/pmm-managed.yaml
Owners: @percona/pmm-review-be

PMM-12185 rename VM config type for consistency sake
  managed/services/telemetry/config.go
  managed/services/telemetry/config_test.go
  managed/services/telemetry/datasource_victoria_metrics.go
  managed/services/telemetry/telemetry_test.go
Owners: @percona/pmm-review-be

PMM-12584 fix drop database issue.
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12584 fix drop database issue for EL7.
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12584 fix drop database issue for EL7.
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12223 Update clickhouse. (#2489)
  update/ansible/playbook/tasks/roles/clickhouse/defaults/main.yml
  update/ansible/playbook/tasks/roles/clickhouse/files/config.xml
  update/ansible/playbook/tasks/roles/clickhouse/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12584 fix drop database issue for EL7.
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

support refresh the params
  agent/agents/process/process.go
  agent/agents/supervisor/ports_registry.go
  agent/agents/supervisor/supervisor.go
Owners: @percona/pmm-review-be

PMM-12562 Show error 503 instead of 500.
  update/ansible/playbook/tasks/roles/nginx/files/conf.d/pmm.conf
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-7 fix API tests
  update/ansible/playbook/tasks/roles/clickhouse/files/config.xml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12460 Fix dump
  managed/cmd/pmm-managed/main.go
  managed/models/database.go
  managed/models/dump.go
  managed/models/dump_helpers.go
  managed/models/dump_reform.go
  managed/services/dump/dump.go
  managed/services/management/dump/mock_dump_service_test.go
Owners: @percona/pmm-review-be

PMM-7 disable the rotation config
  update/ansible/playbook/tasks/roles/clickhouse/files/config.xml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

Update update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-7 fix API tests (#2550)
  update/ansible/playbook/tasks/roles/clickhouse/files/config.xml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-7 Fix datarace (#2501)
  managed/services/telemetry/telemetry.go
  managed/services/telemetry/telemetry_test.go
Owners: @percona/pmm-review-be

PMM-12462 add more vars to the config
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

Update managed/services/telemetry/config.default.yml
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

PMM-12462 follow up on review
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

PMM-12462 update the ids
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

PMM-12460 Use API tokens for pmm-dump authorization
  managed/cmd/pmm-managed/main.go
  managed/services/dump/dump.go
  managed/services/management/dump/dump.go
Owners: @percona/pmm-review-be

PMM-12576 remove docker_upgrade.
  update/ansible/playbook/tasks/roles/initialization/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12460 Linter fixes
  managed/services/dump/dump.go
  managed/services/management/backup/deps.go
  managed/services/management/dump/deps.go
  managed/services/management/dump/dump.go
Owners: @percona/pmm-review-be

PMM-12592 PMM-12587 fix SQLite to PostgreSQL (#2549)
  build/packages/rpm/server/SPECS/grafana-db-migrator.spec
  build/scripts/build-server-rpm
  update/ansible/playbook/tasks/roles/initialization/tasks/main.yml
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @percona/pmm-review-be, @BupycHuk, @talhabinrizwan

PMM-12576 change admin ID to 1.
  update/ansible/playbook/tasks/roles/initialization/tasks/main.yml
  update/ansible/playbook/tasks/update.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

add test
  agent/agents/process/process.go
  agent/agents/process/process_test.go
  agent/agents/supervisor/ports_registry.go
  agent/agents/supervisor/ports_registry_test.go
  agent/agents/supervisor/supervisor.go
  agent/agents/supervisor/supervisor_test.go
Owners: @percona/pmm-review-be

2.40.0_RN_update (#1166)
  docs/release-notes/2.40.0.md
Owners: @percona/pmm-review-be

PMM-12576 Debug messages.
  update/ansible/playbook/tasks/roles/initialization/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12576 change admin ID to 1. (#2551)
  update/ansible/playbook/tasks/roles/initialization/tasks/main.yml
  update/ansible/playbook/tasks/update.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12576-change-pwd-not-working-admin (#1161)
  docs/how-to/troubleshoot.md
  docs/release-notes/2.40.0.md
Owners: @percona/pmm-review-be

.github/CODEOWNERS:

*                                       @percona/pmm-review-be
/agent/agents/postgres/                 @JiriCtvrtka @percona/pmm-review-be
/agent/runner/                          @artemgavrilov @percona/pmm-review-be
/api/                                   @BupycHuk @percona/pmm-review-be
/managed/services/checks/               @idoqo @percona/pmm-review-be
/managed/services/dbaas                 @gen1us2k @recharte @percona/pmm-review-be
/managed/services/management/dbaas      @gen1us2k @recharte @percona/pmm-review-be
/update/                                @BupycHuk @talhabinrizwan @percona/pmm-review-be
**/go.mod                               @percona/pmm-review-dependency @percona/pmm-review-be
**/Dockerfile                           @percona/pmm-review-dependency @percona/pmm-review-be
/cli-tests/package.json                 @percona/pmm-review-dependency @yurkovychv
/.github/                               @percona/pmm-review-dependency @percona/pmm-review-be
