Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @atymchuk

Make imports tests work with modules
  admin/main_test.go
  agent/main_test.go
  agent/packages.dot
  api/main_test.go
  go.mod
  go.sum
  managed/main_test.go
  managed/packages.dot
Owners: @michal-kralik, @BupycHuk, @artemgavrilov

PMM-10142 API changes.
  api/qanpb/json/client/object_details/object_details_client.go
  api/qanpb/json/client/object_details/query_exists_parameters.go
  api/qanpb/json/client/object_details/query_exists_responses.go
  api/qanpb/json/qanpb.json
  api/qanpb/object_details.pb.go
  api/qanpb/object_details.pb.gw.go
  api/qanpb/object_details.proto
  api/qanpb/object_details.validator.pb.go
  api/qanpb/object_details_grpc.pb.go
  api/swagger/swagger-dev-only.json
  api/swagger/swagger-dev.json
Owners: @BupycHuk

PMM-9914 Null dereference fix
  agent/agents/process/process.go
Owners: @BupycHuk

PMM-10145 Handle RDS not having an endpoint (#955)
  managed/services/management/rds.go
Owners: @BupycHuk, @artemgavrilov

PMM-9813 Introduce threshold
  .codecov.yml
Owners: @BupycHuk

PMM-9813 Introduce threshold
  managed/.codecov.yml
Owners: @BupycHuk, @artemgavrilov

PMM-5005: Changed logic of calculation connection uptime
  agent/agentlocal/agent_local.go
  agent/agentlocal/agent_local_test.go
  agent/agentlocal/deps.go
  agent/agentlocal/mock_client_test.go
  agent/client/client.go
  agent/client/client_test.go
  agent/client/connection_set.go
  agent/client/connection_set_test.go
Owners: @BupycHuk

PMM-5005: Rename new field to 'connection_uptime'
  admin/agentlocal/agentlocal.go
  admin/commands/status.go
  agent/agentlocal/agent_local.go
  agent/agentlocal/agent_local_test.go
  agent/agentlocal/mock_client_test.go
  api/agentlocalpb/agentlocal.pb.go
  api/agentlocalpb/agentlocal.proto
  api/agentlocalpb/json/agentlocalpb.json
  api/agentlocalpb/json/client/agent_local/status2_responses.go
  api/agentlocalpb/json/client/agent_local/status_responses.go
Owners: @michal-kralik, @BupycHuk

PMM-5005: Remove unused dependency
  go.mod
  go.sum
Owners: @BupycHuk

PMM-10078 Fix tests
  managed/utils/envvars/parser.go
  managed/utils/envvars/parser_test.go
Owners: @BupycHuk, @artemgavrilov

Updated deps
  agent/packages.dot
  go.mod
  go.sum
  managed/services/management/dbaas/components_service_test.go
  managed/services/management/dbaas/psmdb_cluster_service.go
Owners: @BupycHuk, @artemgavrilov

PMM-6289 show logs
  agent/agentlocal/agent_local.go
  agent/agentlocal/deps.go
  agent/agents/supervisor/supervisor.go
  agent/commands/run.go
  agent/docker-compose.yml
  agent/storelogs/storelogs.go
  api/inventorypb/agents.pb.go
  api/inventorypb/agents.pb.gw.go
  api/inventorypb/agents.proto
  api/inventorypb/agents.validator.pb.go
  api/inventorypb/agents_grpc.pb.go
  api/inventorypb/json/client/agents/agents_client.go
  api/inventorypb/json/inventorypb.json
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  go.mod
  go.sum
Owners: @BupycHuk

PMM-7462 Refactor function location
  managed/services/server/server.go
Owners: @BupycHuk, @artemgavrilov

PMM-7462 Rename variables
  managed/services/server/server.go
Owners: @BupycHuk, @artemgavrilov

PMM-5005: Fix linter issues
  agent/client/connection_set.go
Owners: @BupycHuk

PMM-5005: Fix linter issues
  admin/commands/status_test.go
Owners: @michal-kralik

PMM-5005: Fix tests
  agent/client/client_test.go
Owners: @BupycHuk

Fix 'build' badge in readme.
  README.md
Owners: @BupycHuk

PMM-10231 Credentials source bugfix
  admin/commands/management/add_mysql.go
Owners: @michal-kralik

PMM-10231 Method rename
  admin/commands/management/add_mysql.go
Owners: @michal-kralik

PMM-10078 Add test env variables to CONTRIBUTING.md
  managed/CONTRIBUTING.md
Owners: @BupycHuk, @artemgavrilov

PMM-10142 Changes.
  api/agentpb/agent.pb.go
  api/agentpb/agent.proto
  api/agentpb/agent.validator.pb.go
  api/qanpb/json/client/object_details/query_exists_responses.go
  api/qanpb/json/qanpb.json
  api/qanpb/object_details.pb.go
  api/qanpb/object_details.proto
  api/swagger/swagger-dev-only.json
  api/swagger/swagger-dev.json
  managed/main.go
  managed/services/agents/actions.go
  managed/services/agents/handler.go
  managed/services/management/grpc/actions_server.go
  managed/services/qan/client.go
  managed/services/qan/mock_qan_collector_client_test.go
Owners: @BupycHuk, @artemgavrilov

PMM-10142 Gen.
  managed/services/agents/actions.go
  managed/services/qan/mock_qan_collector_client_test.go
Owners: @BupycHuk, @artemgavrilov

PMM-10142 Gen.
  api/agentpb/agent.pb.go
  api/agentpb/agent.proto
  api/agentpb/agent.validator.pb.go
  managed/services/agents/handler.go
  managed/services/qan/client.go
Owners: @BupycHuk, @artemgavrilov

PMM-5005: Init connection set in the Run command and remove it as global variable
  agent/client/client.go
  agent/client/client_test.go
  agent/client/connection_set.go
  agent/client/connection_set_test.go
  agent/commands/run.go
  agent/config/config.go
  agent/config/config_test.go
  agent/connectionset/connection_set.go
  agent/connectionset/connection_set_test.go
Owners: @BupycHuk

PMM-10142 Empty line.
  api/qanpb/object_details.proto
Owners: @BupycHuk

Get node name from managed
  admin/agentlocal/agentlocal.go
  admin/commands/status.go
  agent/agentlocal/agent_local.go
  api/agentlocalpb/agentlocal.pb.go
  api/agentlocalpb/agentlocal.proto
  api/agentlocalpb/json/agentlocalpb.json
  api/agentlocalpb/json/client/agent_local/status2_responses.go
  api/agentlocalpb/json/client/agent_local/status_responses.go
  api/agentpb/metadata.go
  managed/services/agents/registry.go
Owners: @michal-kralik, @BupycHuk, @artemgavrilov

PMM-10142 Changes.
  managed/services/qan/client.go
Owners: @BupycHuk, @artemgavrilov

PMM-10142 Fix blacklisted package.
  managed/services/agents/actions.go
  managed/services/agents/deps.go
Owners: @BupycHuk, @artemgavrilov

PMM-10231 Revert of defaults-file.
  admin/commands/management/add_mysql.go
  api/managementpb/json/client/my_sql/add_my_sql_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/mysql.pb.go
  api/managementpb/mysql.proto
  api/managementpb/mysql.validator.pb.go
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  go.sum
  managed/services/management/mysql.go
Owners: @michal-kralik, @BupycHuk, @artemgavrilov

PMM-10231 Revert of credentials-sources.
  admin/commands/management/add_mysql.go
Owners: @michal-kralik

PMM-10142 Changes.
  api/agentpb/agent.pb.go
  api/agentpb/agent.proto
  managed/services/agents/actions.go
  managed/services/qan/client.go
Owners: @BupycHuk, @artemgavrilov

PMM-10231 Revert of defaults-file tests.
  managed/services/management/mysql_test.go
Owners: @BupycHuk, @artemgavrilov

PMM-5005: Delete elements from connection set in separate goroutine
  agent/client/client.go
  agent/connectionset/connection_set.go
  agent/connectionset/connection_set_test.go
Owners: @BupycHuk

PMM-10231 Revert of defaults-file - api tests.
  api-tests/management/mysql_test.go
Owners: @BupycHuk, @artemgavrilov

continue on unknown severity
  managed/services/management/checks.go
Owners: @BupycHuk, @artemgavrilov

PMM-10231 Revert of defaults-file and credentials-source. (#992)
  admin/commands/management/add_mysql.go
  api-tests/management/mysql_test.go
  api/managementpb/json/client/my_sql/add_my_sql_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/mysql.pb.go
  api/managementpb/mysql.proto
  api/managementpb/mysql.validator.pb.go
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  go.sum
  managed/services/management/mysql.go
  managed/services/management/mysql_test.go
Owners: @michal-kralik, @BupycHuk, @artemgavrilov

PMM-7 Make target to rebuild agent in devcontainer
  .devcontainer/setup.py
  Makefile.devcontainer
  agent/Makefile
Owners: @BupycHuk

PMM-9510 Refactoring
  managed/services/victoriametrics/scrape_configs.go
Owners: @BupycHuk, @artemgavrilov

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @BupycHuk

.github/CODEOWNERS:

*                           @BupycHuk
/admin/                     @michal-kralik
/agent/agents/postgres/     @JiriCtvrtka
/agent/actions/             @artemgavrilov
/agent/jobs/                @artemgavrilov
/api/                       @BupycHuk
/docs/api/                  @atymchuk
/managed/                   @BupycHuk @artemgavrilov
/api-tests/                 @BupycHuk @artemgavrilov
