Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @percona/pmm-review-be, @JiriCtvrtka, @artemgavrilov, @BupycHuk, @idoqo, @gen1us2k, @recharte, @talhabinrizwan, @percona/pmm-review-dependency, @yurkovychv

.github/CODEOWNERS:

*                                       @percona/pmm-review-be
/agent/agents/postgres/                 @JiriCtvrtka @percona/pmm-review-be
/agent/runner/                          @artemgavrilov @percona/pmm-review-be
/api/                                   @BupycHuk @percona/pmm-review-be
/managed/services/checks/               @idoqo @percona/pmm-review-be
/managed/services/dbaas                 @gen1us2k @recharte @percona/pmm-review-be
/managed/services/management/dbaas      @gen1us2k @recharte @percona/pmm-review-be
/update/                                @BupycHuk @talhabinrizwan @percona/pmm-review-be
**/go.mod                               @percona/pmm-review-dependency @percona/pmm-review-be
**/Dockerfile                           @percona/pmm-review-dependency @percona/pmm-review-be
/cli-tests/package.json                 @percona/pmm-review-dependency @yurkovychv
/.github/                               @percona/pmm-review-dependency @percona/pmm-review-be

PMM-7 DBaaS leftovers to remove.
  .golangci.yml
  Makefile.include
  README.md
  api-tests/init.go
  api/managementpb/azure/json/azure.json
  api/managementpb/azure/json/client/azure_database/add_azure_database_responses.go
  api/managementpb/azure/json/client/azure_database/discover_azure_database_parameters.go
  api/managementpb/azure/json/client/azure_database/discover_azure_database_responses.go
  api/managementpb/azure/json/client/pmm_azure_api_client.go
  api/managementpb/azure/json/header.json
  api/swagger/swagger-dev-only.json
  api/swagger/swagger-dev.json
  build/docker/server/README.md
  docs/api/dbaas/create-psmdb-cluster.md
  docs/api/dbaas/create-pxc-cluster.md
  docs/api/dbaas/dbaas.md
  docs/api/pmm-server-config/troubleshooting/logs.md
  go.sum
  percona-dbaas-catalog.yaml
  update/ansible/playbook/tasks/roles/dashboards_upgrade/tasks/main.yml
Owners: @percona/pmm-review-be, @BupycHuk, @talhabinrizwan

PMM-12375 fix the mock file version
  agent/client/mock_service_info_broker_test.go
  managed/services/inventory/mock_service_info_broker_test.go
  managed/services/management/mock_service_info_broker_test.go
Owners: @percona/pmm-review-be

Enable errcheck linter rule (#2470)
  .golangci.yml
  admin/commands/summary.go
  admin/pkg/client/tarball/tarball.go
  agent/agents/postgres/pgstatmonitor/pgstatmonitor.go
  agent/agents/supervisor/ports_registry_test.go
  agent/connectionchecker/connection_checker.go
  api-tests/server/auth_test.go
  api-tests/server/readyz_test.go
  api-tests/server/version_test.go
  managed/models/job_helpers_test.go
  managed/models/percona_sso_model_helpers.go
  managed/services/alertmanager/alertmanager.go
  managed/services/dbaas/kubernetes/client/client.go
  managed/services/dbaas/kubernetes/client/database/database.go
  managed/services/grafana/auth_server_test.go
  managed/services/grafana/client.go
  managed/services/inventory/inventory_metrics_test.go
  managed/services/management/dbaas/components_service.go
  managed/services/management/dbaas/version_service_client.go
  managed/services/supervisord/logs.go
  managed/services/telemetry/datasources.go
  managed/services/victoriametrics/victoriametrics.go
  managed/services/vmalert/vmalert.go
  managed/utils/platform/client.go
  qan-api2/db.go
  qan-api2/main.go
  qan-api2/models/metrics.go
  vmproxy/proxy/proxy.go
  vmproxy/proxy/proxy_test.go
Owners: @percona/pmm-review-be, @JiriCtvrtka, @gen1us2k, @recharte

PMM-12463 add a transform to strip values
  managed/services/telemetry/config.default.yml
  managed/services/telemetry/config.go
  managed/services/telemetry/datasource_envvars.go
  managed/services/telemetry/datasource_envvars_test.go
  managed/services/telemetry/telemetry.go
  managed/services/telemetry/transform.go
  managed/services/telemetry/transform_test.go
Owners: @percona/pmm-review-be

PMM-12463 fix linter warnings
  managed/services/telemetry/datasource_envvars_test.go
Owners: @percona/pmm-review-be

PMM-7 More debug data.
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @BupycHuk, @talhabinrizwan, @percona/pmm-review-be

PMM-12463 refactor transform, add tests
  managed/services/telemetry/config.default.yml
  managed/services/telemetry/config.go
  managed/services/telemetry/datasource_envvars.go
  managed/services/telemetry/datasource_envvars_test.go
  managed/services/telemetry/datasources.go
  managed/services/telemetry/transform.go
  managed/services/telemetry/transform_test.go
Owners: @percona/pmm-review-be

PMM-12463 run format
  managed/services/telemetry/datasource_envvars.go
Owners: @percona/pmm-review-be

PMM-12251 Unregister complete.
  admin/commands/management/unregister.go
  api/managementpb/json/client/node/unregister_node_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/node.pb.go
  api/managementpb/node.pb.validate.go
  api/managementpb/node.proto
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  managed/services/grafana/client.go
  managed/services/management/mock_auth_provider_test.go
  managed/services/management/node.go
  managed/services/management/node_test.go
Owners: @percona/pmm-review-be, @BupycHuk

PMM-12185 migrate telemetry GrafanaDS to using PostgreSQL
  managed/services/config/pmm-managed.yaml
  managed/services/telemetry/config.default.yml
  managed/services/telemetry/config.go
  managed/services/telemetry/config_test.go
  managed/services/telemetry/datasource_grafana_sqlitedb.go
  managed/services/telemetry/datasource_grafana_sqlitedb_test.go
  managed/services/telemetry/datasource_grafanadb_select.go
  managed/services/telemetry/datasource_victoria_metrics.go
  managed/services/telemetry/datasources.go
  managed/services/telemetry/telemetry.go
  managed/services/telemetry/telemetry_test.go
  managed/testdata/telemetry/grafana_sqlite.db
Owners: @percona/pmm-review-be

PMM-12460 Fix bad merge
  managed/models/database.go
Owners: @percona/pmm-review-be

PMM-12251 Unregister.
  managed/services/grafana/client.go
  managed/services/management/node_test.go
Owners: @percona/pmm-review-be

PMM-12251 Fix.
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-12251 Remove print.
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-12251 Refactor ID int64 to int.
  managed/services/grafana/client.go
  managed/services/management/mock_auth_provider_test.go
  managed/services/management/node.go
  managed/services/management/node_test.go
Owners: @percona/pmm-review-be

PMM-12251 Modify description in md to be aligned with Service acc.
  docs/api/welcome/authentication.md
Owners: @percona/pmm-review-be

PMM-12251 Int64 to int in tests.
  api-tests/server/auth_test.go
Owners: @percona/pmm-review-be

PMM-12251 Lint.
  api-tests/server/auth_test.go
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-12251 Service token ID to int.
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-12251 Lint.
  admin/commands/management/unregister.go
  managed/services/grafana/client.go
Owners: @percona/pmm-review-be

PMM-12584 fix hex values in PostgreSQL DB.
  build/packages/rpm/server/SPECS/grafana-db-migrator.spec
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @percona/pmm-review-be, @BupycHuk, @talhabinrizwan

PMM-12289 Update scripts to build Azure EL9 image.
  build/ansible/roles/cloud-node/tasks/main.yml
  build/ansible/roles/lvm-init/tasks/main.yml
  build/packer/pmm2.el9.json
  update/ansible/playbook/tasks/roles/postgres/tasks/main.yml
Owners: @percona/pmm-review-be, @BupycHuk, @talhabinrizwan

PMM-12185 configure GrafanaDB connection
  managed/cmd/pmm-managed/main.go
  managed/services/config/pmm-managed.yaml
Owners: @percona/pmm-review-be

PMM-12185 fix grafanaDB SQL stmnts
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

PMM-12185 don't init when ds is disabled
  managed/services/telemetry/datasource_grafanadb_select.go
  managed/services/telemetry/datasource_pmmdb_select.go
  managed/services/telemetry/datasource_qandb_select.go
  managed/services/telemetry/telemetry.go
Owners: @percona/pmm-review-be

PMM-12185 cleanup the code
  managed/services/telemetry/datasource_grafanadb_select.go
  managed/services/telemetry/datasources.go
  managed/services/telemetry/telemetry.go
Owners: @percona/pmm-review-be

PMM-12185 update go modules
  go.mod
  go.sum
Owners: @percona/pmm-review-dependency, @percona/pmm-review-be

PMM-12185 Apply suggestions from code review
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

PMM-12463 follow up on review comments
  managed/services/telemetry/datasource_envvars_test.go
  managed/services/telemetry/telemetry.go
  managed/services/telemetry/transform.go
  managed/services/telemetry/transform_test.go
Owners: @percona/pmm-review-be

PMM-12185 remove the debug statement
  managed/services/telemetry/telemetry.go
Owners: @percona/pmm-review-be

PMM-12588 Outdated grafana-db-migrator used
  build/scripts/build-server-rpm
Owners: @percona/pmm-review-be

PMM-12185 don't be too noisy when a ds is not initialized
  managed/services/telemetry/telemetry.go
Owners: @percona/pmm-review-be

PMM-12588 Outdated grafana-db-migrator used
  build/scripts/build-server-rpm
Owners: @percona/pmm-review-be

PMM-12588 Outdated grafana-db-migrator used
  build/scripts/build-server-rpm
Owners: @percona/pmm-review-be

PMM-12588 Outdated grafana-db-migrator used (#2547)
  build/scripts/build-server-rpm
Owners: @percona/pmm-review-be

PMM-12463 Add telemetry envvar datasource (#2532)
  .golangci.yml
  managed/services/config/config.go
  managed/services/config/pmm-managed.yaml
  managed/services/telemetry/config.default.yml
  managed/services/telemetry/config.go
  managed/services/telemetry/config_test.go
  managed/services/telemetry/datasource_envvars.go
  managed/services/telemetry/datasource_envvars_test.go
  managed/services/telemetry/datasource_grafana_sqlitedb.go
  managed/services/telemetry/datasource_grafana_sqlitedb_test.go
  managed/services/telemetry/datasource_pmmdb_select.go
  managed/services/telemetry/datasource_qandb_select.go
  managed/services/telemetry/datasources.go
  managed/services/telemetry/telemetry.go
  managed/services/telemetry/telemetry_test.go
  managed/services/telemetry/transform.go
  managed/services/telemetry/transform_test.go
Owners: @percona/pmm-review-be

PMM-12462 Add HA usage telemetry
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

PMM-12462 update the envvar list
  managed/services/telemetry/config.default.yml
Owners: @percona/pmm-review-be

PMM-12584 fix provisioning problem.
  build/packages/rpm/server/SPECS/grafana-db-migrator.spec
  update/ansible/playbook/tasks/roles/initialization/tasks/main.yml
  update/ansible/playbook/tasks/roles/sqlite-to-postgres/tasks/main.yml
Owners: @percona/pmm-review-be, @BupycHuk, @talhabinrizwan

PMM-12185 remove the debug stmnt
  managed/services/telemetry/telemetry.go
Owners: @percona/pmm-review-be
