Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @percona/pmm-review-be, @atymchuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @idoqo

.github/CODEOWNERS:

*                           @BupycHuk @percona/pmm-review-be
/build/                     @atymchuk 
/admin/                     @michal-kralik
/agent/agents/postgres/     @JiriCtvrtka
/agent/runner/              @artemgavrilov
/api/                       @BupycHuk
/docs/api/                  @atymchuk
/managed/services/checks/   @idoqo
/managed/                   @BupycHuk @artemgavrilov
/api-tests/                 @BupycHuk @artemgavrilov
go.mod                      @BupycHuk @artemgavrilov

go mod tidy
  go.mod
Owners: @BupycHuk, @artemgavrilov

Remove tmp files
  admin/commands/pmm/server/docker/base.go
  admin/commands/pmm/server/docker/remove.go
  admin/commands/pmm/server/docker/start.go
  admin/commands/pmm/server/docker/stop.go
Owners: @michal-kralik

Review dog
  admin/commands/pmm/server/docker/base.go
  admin/commands/pmm/server/docker/deps.go
  admin/commands/pmm/server/docker/install.go
  admin/pkg/bubbles/progress/size.go
  admin/pkg/bubbles/styles/styles.go
  admin/pkg/docker/docker.go
  admin/pkg/docker/pull_image.go
Owners: @michal-kralik

unexport compression types
  api/managementpb/backup/artifacts.pb.go
  api/managementpb/backup/artifacts.proto
  api/managementpb/backup/json/backup.json
  api/managementpb/backup/json/client/artifacts/list_pitr_timelines_responses.go
  api/swagger/swagger-dev-only.json
  api/swagger/swagger-dev.json
  managed/services/backup/pitr_storage_service.go
  managed/services/backup/pitr_storage_service_test.go
  managed/services/management/backup/artifacts_service_test.go
Owners: @BupycHuk, @artemgavrilov

Review dog
  .golangci.yml
  admin/commands/pmm/server/docker/deps.go
  admin/commands/pmm/server/docker/install.go
  admin/pkg/docker/docker.go
Owners: @BupycHuk, @percona/pmm-review-be, @michal-kralik
