Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BupycHuk, @percona/pmm-review-be, @atymchuk, @michal-kralik, @JiriCtvrtka, @artemgavrilov, @idoqo

PMM-10573: Add datapoint to show number of organisations on PMM instance
  managed/services/telemetry/config.default.yml
Owners: @BupycHuk, @artemgavrilov

Fix formatting and update Go version up to 1.19 (#1230)
  .github/workflows/admin.yml
  .github/workflows/agent.yml
  .github/workflows/api.yml
  .github/workflows/clean.yml
  .github/workflows/common.yml
  .github/workflows/managed.yml
  api-tests/README.md
  devcontainer.Dockerfile
  managed/services/agents/postgresql.go
Owners: @BupycHuk, @percona/pmm-review-be, @artemgavrilov

Regenerate
  managed/models/action_models.go
  managed/models/agent_model.go
  managed/models/artifact_model.go
  managed/models/channel.go
  managed/models/check_settings_model.go
  managed/models/job_models.go
  managed/models/kubernetes_models.go
  managed/models/location_model.go
  managed/models/models.go
  managed/models/node_model.go
  managed/models/percona_sso_model.go
  managed/models/restore_history_model.go
  managed/models/rule_model.go
  managed/models/scheduled_task_models.go
  managed/models/service_model.go
  managed/models/software_version.go
  managed/models/template_model.go
  managed/models/user_flags_model.go
Owners: @BupycHuk, @artemgavrilov

Add format step to CI
  .github/workflows/common.yml
Owners: @BupycHuk, @percona/pmm-review-be

satisfy go linter
  managed/services/backup/pitr_storage_service.go
  managed/services/backup/pitr_storage_service_test.go
  managed/services/management/backup/artifacts_service.go
  managed/services/minio/service.go
Owners: @BupycHuk, @artemgavrilov

fix mock naming
  managed/services/management/backup/artifacts_service_test.go
Owners: @BupycHuk, @artemgavrilov

Intermediate progress
  migration.py
Owners: @BupycHuk, @percona/pmm-review-be

PMM-8792 Change description.
  admin/commands/inventory/add_agent_qan_mysql_perfschema_agent.go
  admin/commands/inventory/add_agent_qan_mysql_slowlog_agent.go
  admin/commands/management/add_mysql.go
  api/agentpb/agent.pb.go
  api/agentpb/agent.proto
  api/inventorypb/agents.pb.go
  api/inventorypb/agents.proto
  api/inventorypb/json/client/agents/add_qan_my_sql_perf_schema_agent_responses.go
  api/inventorypb/json/client/agents/add_qan_my_sql_slowlog_agent_responses.go
  api/inventorypb/json/client/agents/change_qan_my_sql_perf_schema_agent_responses.go
  api/inventorypb/json/client/agents/change_qan_my_sql_slowlog_agent_responses.go
  api/inventorypb/json/client/agents/get_agent_responses.go
  api/inventorypb/json/client/agents/list_agents_responses.go
  api/inventorypb/json/inventorypb.json
  api/managementpb/json/client/my_sql/add_my_sql_responses.go
  api/managementpb/json/client/rds/add_rds_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/mysql.pb.go
  api/managementpb/mysql.proto
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
Owners: @michal-kralik, @BupycHuk

PMM-9055 Changes.
  admin/commands/inventory/add_agent_qan_postgres_pgstatements_agent.go
  admin/commands/inventory/add_agent_qan_postgres_pgstatmonitor_agent.go
  admin/commands/management/add_postgresql.go
  agent/agents/postgres/pgstatmonitor/models.go
  agent/agents/postgres/pgstatmonitor/pgstatmonitor.go
  agent/agents/postgres/pgstatmonitor/stat_monitor_cache.go
  agent/agents/postgres/pgstatstatements/pgstatstatements.go
  agent/agents/postgres/pgstatstatements/pgstatstatements_test.go
  agent/agents/supervisor/supervisor.go
  api/inventorypb/agents.pb.go
  api/inventorypb/agents.proto
  api/inventorypb/json/client/agents/add_qan_postgre_sql_pg_stat_monitor_agent_responses.go
  api/inventorypb/json/client/agents/add_qan_postgre_sql_pg_statements_agent_responses.go
  api/inventorypb/json/client/agents/change_qan_postgre_sql_pg_stat_monitor_agent_responses.go
  api/inventorypb/json/client/agents/change_qan_postgre_sql_pg_statements_agent_responses.go
  api/inventorypb/json/client/agents/get_agent_responses.go
  api/inventorypb/json/client/agents/list_agents_responses.go
  api/inventorypb/json/inventorypb.json
  api/managementpb/json/client/postgre_sql/add_postgre_sql_responses.go
  api/managementpb/json/client/rds/add_rds_responses.go
  api/managementpb/json/managementpb.json
  api/managementpb/postgresql.pb.go
  api/managementpb/postgresql.proto
  api/swagger/swagger-dev.json
  api/swagger/swagger.json
  managed/services/converters.go
  managed/services/inventory/agents.go
  managed/services/management/postgresql.go
Owners: @michal-kralik, @JiriCtvrtka, @BupycHuk, @percona/pmm-review-be, @artemgavrilov

PMM-8792 Change logic.
  agent/utils/truncate/query.go
Owners: @BupycHuk, @percona/pmm-review-be

PMM-10640 Added PSMDB disabled versions
  managed/services/management/dbaas/components_service.go
Owners: @BupycHuk, @artemgavrilov

PMM-10467 Fix
  migration.py
Owners: @BupycHuk, @percona/pmm-review-be

HD-17398 Add G2 Tracking pixel (#870)
  docs/index.md
Owners: @BupycHuk, @percona/pmm-review-be

propagate pmm version error
  managed/services/agents/agentversion.go
  managed/services/backup/backup_service.go
Owners: @BupycHuk, @artemgavrilov

PMM-10688 Do not strip kubeconfig values
  managed/services/management/dbaas/kubernetes_server.go
Owners: @BupycHuk, @artemgavrilov

PMM-10662: Change id of datapoint
  managed/services/telemetry/config.default.yml
Owners: @BupycHuk, @artemgavrilov

PMM-10642: Initial structure for pmm cli (#1194)
  admin/Makefile
  admin/cli/cli.go
  admin/cmd/bootstrap.go
  admin/cmd/pmm-admin/main.go
  admin/cmd/pmm-admin/main_test.go
  admin/cmd/pmm/main.go
  admin/commands/pmm/server/base.go
  admin/commands/pmm/server/install.go
Owners: @michal-kralik

PMM-10642: Initial structure for pmm cli
  admin/cli/cli.go
  admin/cmd/bootstrap.go
  admin/cmd/pmm-admin/main.go
  admin/cmd/pmm/main.go
  admin/commands/pmm/server/base.go
  admin/commands/pmm/server/install.go
Owners: @michal-kralik

Review dog
  admin/cmd/pmm-admin/main.go
  admin/cmd/pmm/main.go
  admin/commands/pmm/server/install.go
Owners: @michal-kralik

Review dog
  admin/cli/cli.go
  admin/cmd/bootstrap.go
  admin/commands/pmm/server/base.go
  admin/commands/pmm/server/install.go
Owners: @michal-kralik

Review dog
  admin/cli/cli.go
  admin/cmd/bootstrap.go
  admin/commands/pmm/server/base.go
  admin/commands/pmm/server/install.go
Owners: @michal-kralik

First take on server install
  admin/commands/pmm/server/base.go
  admin/commands/pmm/server/install.go
  admin/commands/pmm/server/remove.go
  admin/commands/pmm/server/start.go
  admin/commands/pmm/server/stop.go
  admin/pkg/docker/docker.go
  go.mod
  go.sum
Owners: @michal-kralik, @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Detect docker and install if needed
  admin/commands/pmm/server/docker/install.go
  admin/pkg/docker/docker.go
Owners: @michal-kralik

Refactor bootstrap into one function
  admin/cli/cli.go
  admin/cmd/bootstrap.go
  admin/cmd/pmm-admin/main.go
  admin/cmd/pmm/main.go
Owners: @michal-kralik

Rename Commands to PMMAdminCommands
  admin/cli/cli.go
  admin/cmd/bootstrap.go
  admin/cmd/pmm-admin/main.go
Owners: @michal-kralik

Remove docker unit tests
  admin/commands/pmm/server/docker/deps.go
  admin/commands/pmm/server/docker/mock_docker_functions_test.go
  admin/pkg/docker/deps.go
  admin/pkg/docker/docker.go
  admin/pkg/docker/docker_test.go
  admin/pkg/docker/mock_docker_client_test.go
Owners: @michal-kralik

Fix nil pointer dereference
  admin/pkg/docker/docker.go
Owners: @michal-kralik

Refactoring
  admin/commands/pmm/server/docker/install.go
  admin/pkg/docker/docker.go
Owners: @michal-kralik

Install docker
  admin/commands/pmm/server/docker/install.go
  admin/pkg/docker/docker.go
Owners: @michal-kralik

Fix tests running without tty
  admin/commands/pmm/server/docker/install.go
  admin/commands/pmm/server/docker/install_test.go
Owners: @michal-kralik

Resolve issues with parallel ui tests
  admin/commands/pmm/server/docker/deps.go
  admin/commands/pmm/server/docker/install.go
  admin/commands/pmm/server/docker/install_test.go
  admin/commands/pmm/server/docker/mock_docker_functions_test.go
  admin/pkg/docker/pull_image.go
Owners: @michal-kralik

Review dog
  admin/cli/cli.go
  admin/cmd/pmm-admin/main.go
  admin/cmd/pmm/main.go
Owners: @michal-kralik

Configuration flags
  admin/commands/pmm/server/docker/install.go
Owners: @michal-kralik

Move to "pmm server docker"
  admin/commands/pmm/server/docker/base.go
  admin/commands/pmm/server/docker/install.go
  admin/commands/pmm/server/docker/remove.go
  admin/commands/pmm/server/docker/start.go
  admin/commands/pmm/server/docker/stop.go
Owners: @michal-kralik

Progress bar for image pull
  admin/commands/pmm/common/shutdown_result.go
  admin/commands/pmm/server/docker/install.go
  admin/commands/pmm/server/docker/install_test.go
  admin/pkg/bubbles/progress/size.go
  admin/pkg/bubbles/styles/styles.go
  admin/pkg/docker/docker.go
  admin/pkg/docker/pull_image.go
  go.mod
  go.sum
Owners: @michal-kralik, @BupycHuk, @artemgavrilov, @percona/pmm-review-be

Review dog
  admin/commands/pmm/server/docker/install_test.go
Owners: @michal-kralik

Check docker access, mount volume
  admin/commands/pmm/server/docker/install.go
  admin/pkg/docker/docker.go
Owners: @michal-kralik

Remove exec dependency injection
  admin/commands/pmm/server/docker/deps.go
  admin/commands/pmm/server/docker/install.go
  admin/commands/pmm/server/docker/mock_docker_functions_test.go
  admin/pkg/docker/deps.go
  admin/pkg/docker/docker.go
  admin/pkg/docker/docker_test.go
  admin/pkg/docker/mock_exec_functions_test.go
Owners: @michal-kralik

Rename runGeneric() function to run()
  admin/cli/cli.go
Owners: @michal-kralik

Installation unit tests
  admin/Makefile
  admin/commands/pmm/server/docker/deps.go
  admin/commands/pmm/server/docker/install.go
  admin/commands/pmm/server/docker/install_test.go
  admin/commands/pmm/server/docker/mock_docker_functions_test.go
  admin/commands/pmm/server/docker/remove.go
  admin/commands/pmm/server/docker/start.go
  admin/commands/pmm/server/docker/stop.go
  admin/pkg/docker/deps.go
  admin/pkg/docker/docker.go
  admin/pkg/docker/docker_test.go
  admin/pkg/docker/mock_docker_client_test.go
  admin/pkg/docker/mock_exec_functions_test.go
Owners: @michal-kralik

.github/CODEOWNERS:

*                           @BupycHuk @percona/pmm-review-be
/build/                     @atymchuk 
/admin/                     @michal-kralik
/agent/agents/postgres/     @JiriCtvrtka
/agent/runner/              @artemgavrilov
/api/                       @BupycHuk
/docs/api/                  @atymchuk
/managed/services/checks/   @idoqo
/managed/                   @BupycHuk @artemgavrilov
/api-tests/                 @BupycHuk @artemgavrilov
go.mod                      @BupycHuk @artemgavrilov
