Repository percona/pmm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @michal-kralik, @JiriCtvrtka, @BupycHuk, @artemgavrilov, @atymchuk

restructure documentation and add common tech
  .github/workflows/doc.yml
  CONTRIBUTING.md
  docs/api/adhoc-backup.md
  docs/api/authentication.md
  docs/api/bulk-add-users.md
  docs/api/change-admin-password.md
  docs/api/createpsmdbcluster.md
  docs/api/createpxccluster.md
  docs/api/dbaas.md
  docs/api/introduction.md
  docs/api/listlocations.md
  docs/api/listnodes.md
  docs/api/listservices.md
  docs/api/logs.md
  docs/api/monitoring.md
  docs/api/pmm-server-configuration.md
  docs/api/pmm-server-upgrade.md
  docs/assets/common_tech_swagger.png
  docs/process/GIT_AND_GITHUB.md
  docs/process/common_tech_lib_approaches.md
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

fix markdown dir
  CONTRIBUTING.md
Owners: none

PMM-5005: Calculate the connected up time between server and agent
  agent/agentlocal/agent_local.go
  agent/agentlocal/deps.go
  agent/client/client.go
  agent/config/config.go
  go.mod
  go.sum
Owners: none

PMM-5005: Show up connected time in status response
  admin/agentlocal/agentlocal.go
  admin/commands/status.go
  agent/agentlocal/agent_local.go
  agent/agentlocal/mock_client_test.go
  agent/client/client.go
  api/agentlocalpb/agentlocal.pb.go
  api/agentlocalpb/agentlocal.proto
  api/agentlocalpb/json/agentlocalpb.json
  api/agentlocalpb/json/client/agent_local/status2_responses.go
  api/agentlocalpb/json/client/agent_local/status_responses.go
Owners: @michal-kralik, @BupycHuk

PMM-5005: Return payload even when there is no connection between agent and server
  admin/agentlocal/agentlocal.go
Owners: @michal-kralik

fix kingpin
  docs/process/common_tech_lib_approaches.md
Owners: none

ignore docs in all workflows
  .github/workflows/admin.yml
  .github/workflows/agent.yml
  .github/workflows/api.yml
  .github/workflows/common.yml
  .github/workflows/managed.yml
Owners: none

PMM-5005: Fix tests
  admin/commands/status_test.go
  agent/agentlocal/agent_local_test.go
Owners: @michal-kralik

Update docs/process/common_tech_lib_approaches.md
  docs/process/common_tech_lib_approaches.md
Owners: none

Refactoring
  .github/workflows/admin.yml
  .github/workflows/agent.yml
  .github/workflows/api.yml
  .github/workflows/common.yml
  .github/workflows/managed.yml
Owners: none

PMM-5005: Fix test
  agent/config/config_test.go
Owners: none

.github/CODEOWNERS:

/admin/                     @michal-kralik
/agent/agents/postgres/     @JiriCtvrtka
/agent/actions/             artemgavrilov
/agent/jobs/                artemgavrilov
/api/                       @BupycHuk
/managed/                   @BupycHuk @artemgavrilov
/markdown/                  @atymchuk
/api-tests/                 @BupycHuk @artemgavrilov
